/*General Layout Rules*/
body{
    background-color: black;
}

h1{
    color: white;
    font-family: montserrat;
}

h2{
    color: white;
    font-family: montserrat;
}

h3{
    color: white;
    font-family: montserrat;
}

li{
    color:white;
    font-family: montserrat;
}

a{
    color: white;
    font-family: montserrat;
    font-size: x-large;
}

p{
    color: white;
    font-family: montserrat;
}

/*Specific Layout Rules*/
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: montserrat;
}

.Picture{
    height: 200;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Education{
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials{
    display: flex;
    align-items: center;
    justify-content: center;
}

.NavHeader{
    display: flex;
    align-items: center;
    justify-content: center;    
}

/*Boxes*/
.welcomeBox{
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    font-size: x-large;
    box-shadow: 10px 10px white;
}

.pictureBox{
    width: 145px;
    height: 193px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    box-shadow: 10px 10px white;
}


/*Montserrat Font Rules*/
.montserrat-webFont {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

/*Fade-In Rules*/
.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}